h1 {
    color: darkred;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: rgb(0, 255, 0);
    text-align: justify;
    text-indent: 5000px;
}

em {
    color: #000099;
    text-decoration: underline;
    text-transform: capitalize;
}
/* em {
    color: hsl(240, 100%, 30%);
} */

img{
    vertical-align: text-top;
    width: 10px;
    height: 10px;
}

a {
    text-decoration: none;
}

